In [2]:
import pandas as pd
import csv
import sqlite3
INP1 = 'btc-market-price.csv'
INP2 = 'exam.csv'
INP3 = 'gdp.csv'
DB1 = 'chinook.db'
# pandas can read a lot of sources (excel and other properitary may need additonal work)

In [3]:
# no pandas yet, just python to open the file
with open(INP1, 'r') as fp :
    print(fp)

<_io.TextIOWrapper name='btc-market-price.csv' mode='r' encoding='UTF-8'>

In [4]:
with open(INP1, 'r') as fp :
    for idx, line in enumerate(fp.readlines()):
        if idx < 10 :
            print(idx, line)

0 2017-04-02 00:00:00,1099.169125

1 2017-04-03 00:00:00,1141.813

2 2017-04-04 00:00:00,1141.6003625

3 2017-04-05 00:00:00,1133.0793142857142

4 2017-04-06 00:00:00,1196.3079375

5 2017-04-07 00:00:00,1190.45425

6 2017-04-08 00:00:00,1181.1498375

7 2017-04-09 00:00:00,1208.8005

8 2017-04-10 00:00:00,1207.744875

9 2017-04-11 00:00:00,1226.6170375

In [5]:
with open(INP1, 'r') as fp :
    for idx, line in enumerate(fp.readlines()):
        if idx < 10 :
            ts, p = line.split(',')
            print(f"{ts}: ${p}")

2017-04-02 00:00:00: $1099.169125

2017-04-03 00:00:00: $1141.813

2017-04-04 00:00:00: $1141.6003625

2017-04-05 00:00:00: $1133.0793142857142

2017-04-06 00:00:00: $1196.3079375

2017-04-07 00:00:00: $1190.45425

2017-04-08 00:00:00: $1181.1498375

2017-04-09 00:00:00: $1208.8005

2017-04-10 00:00:00: $1207.744875

2017-04-11 00:00:00: $1226.6170375

In [6]:
with open(INP2, 'r') as fp :
    reader = csv.reader(fp, delimiter='>')
    next(reader) # skip header
    for idx, valz in enumerate(reader) :
        if not valz :
            continue
        fname, lname, age, math, french = valz
        print(f"{fname:10} | {lname:10} | {age:4} | {math:9} | {french:9}")

Ray        | Ray        | 18   | 68,000    | 75,000
J          | Wow        | 24   | 77        | 83
Bow        | Wow        | 22   | 92        | 67
G          | G          | 19   | 78,000    | 72
Mi         | Mi         | 23   | 91        | 81

In [7]:
pd.read_csv # look at documentation

<function pandas.io.parsers.readers.read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols=None, squeeze: 'bool | None' = None, prefix: 'str | lib.NoDefault' = <no_default>, mangle_dupe_cols: 'bool' = True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace: 'bool' = False, skiprows=None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, skip_blank_lines: 'bool' = True, parse_dates=None, infer_datetime_format: 'bool' = False, keep_date_col: 'bool' = False, date_parser=None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, error_bad_lines: 'bool | None' = None, warn_bad_lines: 'bool | None' = None, on_bad_lines=None, delim_whitespace: 'bool' = False, low_memory=True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions' = None) -> 'DataFrame | TextFileReader'>

In [8]:
# no need to download file
csv_url = 'https://raw.githubusercontent.com/datasets/gdp/master/data/gdp.csv'
pd.read_csv(csv_url).head()   #...but the file must exist + computer must allow connection
#pd.read_csv(INP3)

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [9]:
df = pd.read_csv(
    INP1, 
    header=None, 
    na_values=['', '?', '-'],
    names=['TimeStamp', 'Price'],
    dtype={'Price': 'float'},
    parse_dates=[0]
)
#df['TimeStamp'] = pd.to_datetime(df['TimeStamp']) already done
df.head()

   TimeStamp        Price
0 2017-04-02  1099.169125
1 2017-04-03  1141.813000
2 2017-04-04  1141.600363
3 2017-04-05  1133.079314
4 2017-04-06  1196.307937

In [10]:
df.dtypes

TimeStamp    datetime64[ns]
Price               float64
dtype: object

In [11]:
# reading with just sqlite3
conn = sqlite3.connect(DB1)
cur = conn.cursor()
cur.execute('SELECT * FROM employees LIMIT 5;')
results = cur.fetchall()
print(results)

OperationalError: no such table: employees