In [89]:
import numpy as np
import pandas as pd

# Pandas DataFrame (fundamental datastructure 2 of 2)
- a dataframe column very simlar to a series (makes a 2D matrix)
- check the data as soon as it is brought into the program

In [90]:
df = pd.DataFrame({
    'Pop': [35.467 , 63.951 , 80.94  , 60.665 , 127.061, 64.511 , 318.523],
    'GDP'       : [1785387, 2833687, 3874437, 2167744, 4602367, 2950039, 17348075],
    'Surface'   : [9984670, 640679 , 357114 , 301336 , 377930 , 242495 , 9525067],
    'HDI'       : [0.913  , 0.888  , 0.916  , 0.873  , 0.891  , 0.907  , 0.915],
    'Continent' : ['Namerica', 'Europe', 'Europe', 'Europe', 'Asia', 'Europe', 'Namerica']
}, 
    columns=['Pop', 'GDP', 'Surface', 'HDI', 'Continent'],
    index=['Canada', 'France', 'Germany', 'Italy', 'Japan', 'UK', 'USA'])
print(df)

             Pop       GDP  Surface    HDI Continent
Canada    35.467   1785387  9984670  0.913  Namerica
France    63.951   2833687   640679  0.888    Europe
Germany   80.940   3874437   357114  0.916    Europe
Italy     60.665   2167744   301336  0.873    Europe
Japan    127.061   4602367   377930  0.891      Asia
UK        64.511   2950039   242495  0.907    Europe
USA      318.523  17348075  9525067  0.915  Namerica

In [91]:
df.columns

Index(['Pop', 'GDP', 'Surface', 'HDI', 'Continent'], dtype='object')

In [92]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'UK', 'USA'], dtype='object')

In [93]:
df.info() # quick info

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to USA
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pop        7 non-null      float64
 1   GDP        7 non-null      int64
 2   Surface    7 non-null      int64
 3   HDI        7 non-null      float64
 4   Continent  7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [94]:
df.size

35

In [95]:
df.shape

(7, 5)

In [96]:
df.describe() # for the numeric columns

              Pop           GDP       Surface       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [97]:
df.dtypes

Pop          float64
GDP            int64
Surface        int64
HDI          float64
Continent     object
dtype: object

In [98]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

# use the dataframe
- get a series or group of series
- transpose happens as you switch rows and columns

In [99]:
df['GDP'] # pick a column

Canada      1785387
France      2833687
Germany     3874437
Italy       2167744
Japan       4602367
UK          2950039
USA        17348075
Name: GDP, dtype: int64

In [100]:
df['Pop'].to_frame()

             Pop
Canada    35.467
France    63.951
Germany   80.940
Italy     60.665
Japan    127.061
UK        64.511
USA      318.523

In [101]:
df[['Surface', 'Continent']] # select multiple

         Surface Continent
Canada   9984670  Namerica
France    640679    Europe
Germany   357114    Europe
Italy     301336    Europe
Japan     377930      Asia
UK        242495    Europe
USA      9525067  Namerica

In [102]:
df[1:3] # ok, but use iloc, loc     works on rows

            Pop      GDP  Surface    HDI Continent
France   63.951  2833687   640679  0.888    Europe
Germany  80.940  3874437   357114  0.916    Europe

In [103]:
df.loc['Canada'] # get row, by name

Pop            35.467
GDP           1785387
Surface       9984670
HDI             0.913
Continent    Namerica
Name: Canada, dtype: object

In [104]:
df.iloc[-1] # get row, by sequence, last row

Pop           318.523
GDP          17348075
Surface       9525067
HDI             0.915
Continent    Namerica
Name: USA, dtype: object

In [105]:
df['GDP'] # get the entire column

Canada      1785387
France      2833687
Germany     3874437
Italy       2167744
Japan       4602367
UK          2950039
USA        17348075
Name: GDP, dtype: int64

In [106]:
df.loc['France' : 'Italy', 'Pop']  # get rows, only take population

France     63.951
Germany    80.940
Italy      60.665
Name: Pop, dtype: float64

In [107]:
df.loc['France' : 'Italy', ['Pop', 'GDP']]  # get rows + 2 colmuns

            Pop      GDP
France   63.951  2833687
Germany  80.940  3874437
Italy    60.665  2167744

In [108]:
df.iloc[1:3, 0:2] # works similar, but index different

            Pop      GDP
France   63.951  2833687
Germany  80.940  3874437

# modifications
- use the boolean + operations
- pandas matches index to index (2 different objects)
- be careful with dropping axis
- all of these are immutable (did not store the new result)

In [109]:
df['Pop'] > 70 # pure boolean

Canada     False
France     False
Germany     True
Italy      False
Japan       True
UK         False
USA         True
Name: Pop, dtype: bool

In [110]:
df.loc[df['Pop'] > 70] # select by boolean

             Pop       GDP  Surface    HDI Continent
Germany   80.940   3874437   357114  0.916    Europe
Japan    127.061   4602367   377930  0.891      Asia
USA      318.523  17348075  9525067  0.915  Namerica

In [111]:
df.loc[df['Pop'] > 85, ['Pop', 'Surface']] # pick what columns on match

           Pop  Surface
Japan  127.061   377930
USA    318.523  9525067

In [112]:
df.drop('Canada') # drop an index

             Pop       GDP  Surface    HDI Continent
France    63.951   2833687   640679  0.888    Europe
Germany   80.940   3874437   357114  0.916    Europe
Italy     60.665   2167744   301336  0.873    Europe
Japan    127.061   4602367   377930  0.891      Asia
UK        64.511   2950039   242495  0.907    Europe
USA      318.523  17348075  9525067  0.915  Namerica

In [113]:
df.drop(['Canada', 'France']) # drop 2 index

             Pop       GDP  Surface    HDI Continent
Germany   80.940   3874437   357114  0.916    Europe
Italy     60.665   2167744   301336  0.873    Europe
Japan    127.061   4602367   377930  0.891      Asia
UK        64.511   2950039   242495  0.907    Europe
USA      318.523  17348075  9525067  0.915  Namerica

In [114]:
df.drop(columns=['GDP', 'HDI']) # drop some colmuns

             Pop  Surface Continent
Canada    35.467  9984670  Namerica
France    63.951   640679    Europe
Germany   80.940   357114    Europe
Italy     60.665   301336    Europe
Japan    127.061   377930      Asia
UK        64.511   242495    Europe
USA      318.523  9525067  Namerica

# broadcasting
- do accross dataframes

In [115]:
crisis = pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])
print(crisis)

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [116]:
df[['GDP', 'HDI']] + crisis # operation on the 2 dfs, automatically combined

                GDP    HDI
Canada     785387.0  0.613
France    1833687.0  0.588
Germany   2874437.0  0.616
Italy     1167744.0  0.573
Japan     3602367.0  0.591
UK        1950039.0  0.607
USA      16348075.0  0.615

In [117]:
langs = pd.Series(
    ['French', 'German', 'Italian'],
    index=['France', 'Germany', 'Italy'],
    name='Language'
)
df['Language'] = langs # add a column, NaN means blank
print(df)

             Pop       GDP  Surface    HDI Continent Language
Canada    35.467   1785387  9984670  0.913  Namerica      NaN
France    63.951   2833687   640679  0.888    Europe   French
Germany   80.940   3874437   357114  0.916    Europe   German
Italy     60.665   2167744   301336  0.873    Europe  Italian
Japan    127.061   4602367   377930  0.891      Asia      NaN
UK        64.511   2950039   242495  0.907    Europe      NaN
USA      318.523  17348075  9525067  0.915  Namerica      NaN

In [118]:
df['Language'] = 'American'
print(df)

             Pop       GDP  Surface    HDI Continent  Language
Canada    35.467   1785387  9984670  0.913  Namerica  American
France    63.951   2833687   640679  0.888    Europe  American
Germany   80.940   3874437   357114  0.916    Europe  American
Italy     60.665   2167744   301336  0.873    Europe  American
Japan    127.061   4602367   377930  0.891      Asia  American
UK        64.511   2950039   242495  0.907    Europe  American
USA      318.523  17348075  9525067  0.915  Namerica  American

In [119]:
dff = df # make a copy for changing
dff.rename(
    columns={
        'HDI':'Human Development Index',
        'Annual Corn Consumption' : 'ACC'
        },
    index={
        'USA':"US",
        'UK':'4kingdoms',
        'Argentina':'AR'
    }) # if it does not exist, no effect

,Pop,GDP,Surface,Human Development Index,Continent,Language
Canada,35.467,1785387,9984670,0.913,Namerica,American
France,63.951,2833687,640679,0.888,Europe,American
Germany,80.940,3874437,357114,0.916,Europe,American
Italy,60.665,2167744,301336,0.873,Europe,American
Japan,127.061,4602367,377930,0.891,Asia,American
4kingdoms,64.511,2950039,242495,0.907,Europe,American
US,318.523,17348075,9525067,0.915,Namerica,American

In [121]:
df['GDPP'] = df['GDP'] / df['Pop'] # find GDP per capita, put in new column
print(df)

             Pop       GDP  Surface    HDI Continent  Language          GDPP
Canada    35.467   1785387  9984670  0.913  Namerica  American  50339.385908
France    63.951   2833687   640679  0.888    Europe  American  44310.284437
Germany   80.940   3874437   357114  0.916    Europe  American  47868.013343
Italy     60.665   2167744   301336  0.873    Europe  American  35733.025633
Japan    127.061   4602367   377930  0.891      Asia  American  36221.712406
UK        64.511   2950039   242495  0.907    Europe  American  45729.239975
USA      318.523  17348075  9525067  0.915  Namerica  American  54464.120330